<div id='sideNavContainer'>
  <div id='navList'>
    <ul>
      <li>
        <a href='/dashboard'>Overview</a>
      </li>
      <li>
        <a href='/draft/all'>My drafts</a>
      </li>
      <li>
        <a href='/integrations'>Integrations</a>
      </li>
      <li>
        <a href='/auth/logout' style='color: red;'>Logout</a>
      </li>
    </ul>
  </div>
</div>