<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta name='description' content='Hashdrafts - Generate article drafts for Hashnode' />
    <meta property='og:title' content='{{pageTitle}}' />
    <meta property='og:type' content='website' />
    <meta property='og:url' content='{{pageUrl}}' />
    <meta
      property='og:image'
      content='https://res.cloudinary.com/dahn8uiyc/image/upload/v1631197514/paysnap/logo.png'
    />
    <meta property='og:description' content='Hashdrafts - Generate article drafts for Hashnode' />
    <meta property='og:site_name' content='Hashdrafts' />
    <meta property='og:locale' content='en_US' />
    <meta name='twitter:card' content='summary' />
    <meta name='twitter:site' content='@oxwware' />
    <meta name='twitter:author' content='@oxwware' />
    <title>{{pageTitle}}</title>
    <link rel='stylesheet' href='../../styles/style.css' />
  </head>
  <body>
    {{{body}}}
    <script type='module' src='../../scripts/core.js'></script>
  </body>
</html>