<div id='introText'>
  <h1>Create a new blog post draft.</h1>
</div>
<div id='formContainer'>
  <form action='/auth/signup' id='authForm' method='post'>
    <div id='inputWrapper'>
      <label for='fname'>Firstname</label><br />
      <input type='text' id='fname' name='firstName' required='true' />
    </div>
    <div id='inputWrapper'>
      <label for='lname'>Lastname</label><br />
      <input type='text' id='lname' name='lastName' required='true' />
    </div>
    <div id='buttonWrapper'>
      <button type='submit'></button>
    </div>
  </form>
</div>