<h1>Hashdrafts</h1>
<p>Generate drafts with suggestions on how to improve it content and publish to Hashnode</p>

<div>
  <a href='/auth/signup'>Get started</a>
  or
  <a href='/auth/login'>Login</a>
</div>

{{! <form action='/draft/publish' id="draftTextAreaForm" method='post'>
  <div>
    <input type='text' name='title' placeholder='Write title here' required='true' />
  </div>
  <textarea name='content' id='markdown-editor' cols='30' rows='10'></textarea>
  <div>
    <input type='text' name='tags' placeholder='Add tags' , required='true' />
  </div>
  <div>
    <button type='submit' id='publish-cta'><span id='logo-span'><img
          src='../../assets/brand-icon-white.png'
          width='20'
          height='20'
          alt='Hashnode brand icon'
        /></span>Publish</button>
  </div>
</form> }}

<script>
  //'use strict'; const simpleMDEditor = new SimpleMDE(); simpleMDEditor.value({{{draft}}});
</script>